.search-form__button{
	background-color: var(--accent);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.3rem;
	border: none;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	transition: 0.3s ease;
	width: 5rem;
	height: 5rem;
}

.search-form__button:hover{
	opacity: 0.7;
}

.search-form__button:disabled{
	background-color: var(--colorBorder);
	cursor: default;
}

