
:root{

	--colorHint: #7E7E7E;
	--colorDefault: #000000;
	--colorBorder: #D9D9D9;
	--accent: #FF5555;
	--background: #FFFFFF;
	--starAccent: #FF9432;
	--linkHover: #208FBF;

	/* FONTS */

	--hint: 1.4rem;
	--heading-4: 2.4rem;
	--heading-5: 1.6rem;
}